<div class="container">
  <% @users.each do |user| %>
    <div class="user_info">
      <div class="img">
        <% if user.photo.present? %>
          <%= image_tag user.photo, alt: "User Photo", class: "user-photo" %>
        <% else %>
          <%= image_tag "https://cdn-icons-png.flaticon.com/512/21/21104.png", alt: "Default User Photo", class: "user-photo" %>
        <% end %>
      </div>
      <div class="user">
        <h2><%= link_to user.name, user_path(user) %></h2>
        <p><strong>Number of posts: </strong><%= user.posts.count %></p>
        <h2><%= user.role %></h2>

      </div>
    </div>
  <% end %>
</div>
