<div class="container">
  <div class="user_info">
    <div class="img">
      <% if @user.photo.present? %>
          <%= image_tag @user.photo, alt: "User Photo", class: "user-photo" %>
        <% else %>
          <%= image_tag "https://cdn-icons-png.flaticon.com/512/21/21104.png", alt: "Default User Photo", class: "user-photo" %>
        <% end %>
    </div>
    <div class="user">
      <h2><%= @user.name %></h2>
      <p><strong>Number of posts: </strong><%= @user.posts.count %></p>
    </div>
  </div>
  <div class="user_bio">
    <p>Bio</p>
    <p><%= @user.bio %></p>
  </div>
  <% @user.recent_posts.each_with_index do |post, index| %>
    <div class="post">
      <h3> <%= link_to "Post", user_post_path(@user, post) %> <%= index+1 %> </h2>
      <p><%= post.title %></p>
      <p class='count'>Comments: <%= post.comments.count %> | Likes: <%= post.likes.count %></p>
      <div class="delete-post">
        <% if current_user == @user || current_user.admin? %>
          <%= form_with(url: user_post_path(@user, post), method: :delete) do |form| %>
            <%= form.submit 'Delete post', data: { confirm: 'Are you sure?' }, class: "delete-button btn" %>
          <% end %>
        <% end %>
      </div>
    </div>
    
  <% end %>
  <%= link_to "See all posts",user_posts_path(@user), class: "button" %> 
</div>