<div class="container">
  <div class="user_info">
    <div class="img">
      <% if @user.photo.present? %>
        <%= image_tag @user.photo, alt: "User Photo", class: "user-photo" %>
      <% else %>
        <%= image_tag "https://cdn-icons-png.flaticon.com/512/21/21104.png", alt: "Default User Photo", class: "user-photo" %>
      <% end %>
    </div>
    <div class="user">
      <h2><%= @user.name %></h2>
      <p><strong>Number of posts: </strong><%= @user.posts.count %></p>
    </div>
  </div>

  <% @posts.limit(2).each do |post| %>
    <div class="post">
      <h4>Post</h4>
      <h4><%= link_to post.title, user_post_path(@user, post) %></h4>
      <p><%= post.text %></p>
      <div class="delete-post">
<<<<<<< HEAD
        <% if can? :destroy , post %>
=======
        <% if current_user == @user || current_user.admin? %>
>>>>>>> parent of 49fd473 (merge-fix)
          <%= form_with(url: user_post_path(@user, post), method: :delete) do |form| %>
            <%= form.submit 'Delete post', data: { confirm: 'Are you sure?' }, class: "delete-button btn" %>
          <% end %>
        <% end %>
      </div>
      <p class='count'>Comments: <%= post.comments.count %> | Likes: <%= post.likes.count %></p>
    </div>
  <% end %>

  <%= link_to 'Pagination', user_posts_path(@user), class: "button" %>
  <%= link_to 'Add New post', new_user_post_path(@user), class: 'button' %>
</div>
