<div class="container">
  <div class="post">
    <h4><%= @post.title %> by <%= @post.author.name %> </h4>
    <p class='count'>Comments: <%= @post.comments.count %> | Likes: <%= @post.likes.count %></p>
    <p><%= @post.text %></p>
    <div class="delete-post">
      <% if current_user == @user || current_user.admin? %>
        <%= form_with(url: user_post_path(@user, @post), method: :delete) do |form| %>
          <%= form.submit 'Delete post', data: { confirm: 'Are you sure?' }, class: "delete-button btn" %>
        <% end %>
      <% end %>
    </div>
  </div>
  <div class="comments">
    <% @post.comments.each do |comment| %>
      <div class="row align-items-end comment">
        <div class="col">
          <%= comment.user.name %>: <%= comment.text %>
          <% if current_user == @user || current_user.admin? %>
            <%= form_with url: user_post_comment_path(@user, @post, comment), method: :delete do |form| %>
              <%= form.submit 'Delete Comment', data: { confirm: 'Are you sure?' } %>
            <% end %>
          <% end %>
        </div>
      </div>
    <% end %>
  </div>
</div>